---
layout: default
image: '/images/102.jpg'
---

{% include section-hero.html %}

<div class="container">
    <p>I am a historian of early modern Japan and currently a doctoral candidate at Kyushu University. My research broadly explores the social and spatial history of "gate-front towns" (<em>monzenmachi</em> ), settlements that thrived as sites of pilgrimage and pleasure near religious institutions.  </p>
    <p>As a freelance writer and translator, I strive to create engaging and educational content that makes Japanese history, literature, and culture accessible to a wider audience. Although published anonymously, my work has been recognized for its excellence by the Japan Tourism Agency (JTA).  </p>
    <p>You are likely to find me tinkering around with digital approaches to the humanities or pondering education in the age of—rapidly advancing—generative artificial intelligence.</p>
    <hr>
    <h2>Current Projects</h2>
    <ul style="list-style-type:none">
        <li><b>Becoming-Dazaifu</b><br>PhD dissertation that examines changes in the social and political space of Dazaifu between 1865 and 1867 through the lens of assemblage theory</li>
        <li><b>Hiun's Guide to Dazaifu</b><br>Annotated translation of an eighteenth-century travel guide on Dazaifu written by a haiku poet named Gahyōbō Hiun (d. 1800) </li>
    </ul>
    <h2>Experience</h2>
    <ul style="list-style-type:none">
        <li><b>Special Joint Research Fellow</b>, National Museum of Japanese History (2023–)</li>
        <li><b>Copyeditor</b>, Journal of Religion in Japan (2022–)</li>
        <li><b>Freelance Writer</b>, Export Japan (2020–2023)</li>
        <li><b>Research and Program Coordinator</b>, Reischauer Center for East Asian Studies, Johns Hopkins SAIS (2016–2018)</li>
    </ul>
    <h2>Education</h2>
    <ul style="list-style-type:none">
        <li>PhD in Japanese Humanities (History), Kyushu University (2021–)</li>
        <li>MA in Japanese Humanities (History), Kyushu University (2019–2021)</li>
        <li>MSc in Economic History, London School of Economics (2014–2015)</li>
        <li>BBA in Economics, Villanova Univeristy (2010–2014)</li>
    </ul>
    <h2>Languages and Skills</h2>
    <ul style="list-style-type:none">
        <li>American English | Modern Japanese (JLPT N1) | Classical Japanese (<i>bungo</i> and <i>kanbun</i>)</li>
        <li>Chicago Manual of Style | APA Style | Ruby (Beginner)</li>
    </ul>
    <hr>
</div>

{% include section-featured-posts.html %}

{% include section-blog.html %}

{% include section-videos.html %}

{% include section-tag.html %}

{% include section-author.html %}